In [101]:
# Import the dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import gmaps
import gmaps.datasets
from citipy import citipy
from datetime import datetime
from scipy.stats import linregress

# Import the requests library
import requests

# Import the API key
from config import weather_api_key
from config import g_key
gmaps.configure(api_key=g_key)

In [102]:
# import cities from Part 2
cities_to_load = "weather_data/WeatherPy_vacation.csv"

In [103]:
# Create new dataframe from damp_cities.csv
vacation_cities_data_df = pd.read_csv(cities_to_load)
vacation_cities_data_df

,Weather_Challenge_p2,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Jamestown,AU,65.59,clear sky,-33.21,138.60,Jamestown Motel Terraces
1,4,Zhezkazgan,KZ,41.77,overcast clouds,47.80,67.71,Kvartiry Posutochno.
2,5,New Norfolk,AU,63.00,few clouds,-42.78,147.06,The Shingles Riverside Cottages
3,6,Port Lincoln,AU,61.72,clear sky,-34.72,135.86,Port Lincoln Hotel
4,10,Bredasdorp,ZA,64.00,overcast clouds,-34.53,20.04,Bredasdorp Country Manor
...,...,...,...,...,...,...,...,...
256,563,Lyndon,US,64.40,clear sky,38.61,-95.68,NaN
257,567,Qaqortoq,GL,48.20,light snow,60.72,-46.03,NaN
258,568,Yangcun,CN,55.99,few clouds,29.98,118.17,NaN
259,569,Aasiaat,GL,31.98,overcast clouds,68.71,-52.87,NaN
260,573,Darhan,MN,30.27,light snow,49.49,105.92,NaN

In [104]:
# Create coordinate tuple and add to travel_itinerary DF
coord_tuple = list(zip(  vacation_cities_data_df.Lat,  vacation_cities_data_df.Lng  ))
coord_tuple

[(-33.21, 138.6),
 (47.8, 67.71),
 (-42.78, 147.06),
 (-34.72, 135.86),
 (-34.53, 20.04),
 (-54.81, -68.31),
 (40.65, 47.48),
 (15.34, 74.49),
 (-53.16, -70.91),
 (51.0, 81.46),
 (60.14, -45.24),
 (42.65, -73.75),
 (44.76, -85.62),
 (32.19, 130.02),
 (8.96, 38.73),
 (39.95, -94.76),
 (59.5, 26.52),
 (36.62, 101.77),
 (60.91, -46.05),
 (-30.97, 22.13),
 (-20.34, 57.76),
 (-33.64, 115.35),
 (-34.42, 19.24),
 (59.92, 16.61),
 (59.79, 5.78),
 (27.93, 96.16),
 (49.0, -64.4),
 (49.12, -68.38),
 (47.68, 15.94),
 (37.18, 33.22),
 (-38.31, -60.23),
 (59.12, 11.39),
 (65.61, -37.64),
 (32.58, -88.19),
 (40.22, 116.23),
 (-33.59, 26.89),
 (-22.09, -70.2),
 (13.65, 43.82),
 (50.41, 3.68),
 (35.54, 106.68),
 (43.2, -8.36),
 (-33.93, 18.42),
 (36.86, 70.83),
 (-29.95, -71.34),
 (45.58, -122.35),
 (-46.43, -67.52),
 (61.05, 43.9),
 (49.76, 16.66),
 (27.18, 31.19),
 (37.17, -99.65),
 (58.75, 17.01),
 (-11.1, -77.61),
 (39.31, -74.98),
 (50.68, 156.12),
 (51.91, -8.17),
 (33.08, -16.33),
 (57.43, 56.94),
 (-20.41, 57.7),
 (-42.48, -73.76),
 (48.86, 2.35),
 (35.05, 46.36),
 (60.55, -151.26),
 (31.81, 117.24),
 (45.59, -62.65),
 (-42.88, 147.33),
 (35.03, 111.0),
 (29.71, 107.39),
 (7.14, 40.71),
 (-34.46, -58.91),
 (30.77, 111.32),
 (45.36, -73.48),
 (-3.17, 33.8),
 (49.08, -117.8),
 (42.43, 130.64),
 (-33.69, -53.46),
 (-51.62, -69.22),
 (53.41, -2.98),
 (-20.21, 57.76),
 (63.73, 8.83),
 (-39.03, -67.58),
 (46.36, -94.2),
 (47.66, -52.73),
 (59.7, 30.79),
 (48.77, 5.16),
 (40.73, 13.86),
 (35.73, 140.83),
 (63.83, 10.7),
 (42.77, -9.06),
 (31.33, -89.29),
 (17.54, 44.22),
 (-10.07, -78.15),
 (50.73, 92.07),
 (23.12, 78.69),
 (34.92, 32.53),
 (38.73, -27.07),
 (38.52, -28.7),
 (39.36, -9.38),
 (-25.04, 33.64),
 (47.13, -119.28),
 (55.05, 24.95),
 (70.95, 27.35),
 (40.77, -72.85),
 (49.76, 31.46),
 (-41.18, 146.36),
 (-30.33, 149.78),
 (-41.87, -73.83),
 (45.22, 1.9),
 (-26.65, 15.16),
 (45.91, 28.19),
 (18.39, 42.45),
 (53.05, 158.65),
 (43.26, -79.87),
 (40.6, -124.16),
 (69.22, -51.1),
 (56.33, 48.35),
 (51.48, 140.77),
 (40.97, -117.74),
 (50.52, 115.13),
 (35.74, 139.53),
 (48.95, 4.24),
 (60.79, -161.76),
 (-10.15, 32.64),
 (-34.05, 23.37),
 (27.87, -0.29),
 (36.55, -82.56),
 (62.23, -6.59),
 (3.98, 13.18),
 (35.88, -80.08),
 (35.05, -85.31),
 (50.1, -91.92),
 (50.23, -63.6),
 (31.56, -91.4),
 (47.92, 33.35),
 (28.17, 94.8),
 (44.65, -63.58),
 (52.26, 10.53),
 (28.66, -17.92),
 (34.5, 109.46),
 (31.32, -92.43),
 (40.29, 97.04),
 (78.22, 15.63),
 (46.24, -119.1),
 (28.32, 79.86),
 (51.89, -8.4),
 (-36.72, -73.12),
 (45.66, -68.71),
 (50.56, -96.99),
 (47.11, -104.71),
 (-33.84, 148.69),
 (48.61, -93.4),
 (40.71, 0.58),
 (-13.71, -76.2),
 (61.92, 159.24),
 (41.84, 60.39),
 (52.47, 1.45),
 (-43.03, 147.26),
 (42.84, 93.51),
 (20.42, 106.17),
 (43.66, -70.25),
 (50.59, 12.7),
 (29.2, -96.27),
 (50.02, -125.24),
 (50.7, -127.42),
 (-40.81, -62.99),
 (27.98, 94.69),
 (70.98, 25.97),
 (43.74, -81.71),
 (37.77, 29.09),
 (48.64, 13.53),
 (39.42, 22.43),
 (47.34, 5.0),
 (48.69, 45.2),
 (46.86, -114.05),
 (48.28, 41.05),
 (30.8, 108.39),
 (24.81, 113.59),
 (43.22, -123.34),
 (38.8, -9.45),
 (30.43, 48.18),
 (-25.41, -70.49),
 (26.53, -100.51),
 (26.1, 107.47),
 (-0.22, -78.51),
 (43.02, 143.2),
 (-34.0, 24.73),
 (38.94, 100.46),
 (41.62, 24.49),
 (38.9, -98.86),
 (62.16, -7.17),
 (33.37, 134.14),
 (54.1, 36.24),
 (-44.7, 169.14),
 (60.15, -1.15),
 (37.14, -8.45),
 (63.05, 179.32),
 (-17.39, -66.16),
 (55.34, -131.65),
 (41.4, 27.36),
 (-5.09, -81.11),
 (43.97, -111.68),
 (29.04, 114.56),
 (23.48, 111.3),
 (29.7, -9.73),
 (64.86, -147.8),
 (-34.61, -58.44),
 (40.81, 111.65),
 (-34.91, -54.96),
 (43.37, -124.22),
 (59.1, 26.19),
 (-34.85, 139.16),
 (-28.55, 16.43),
 (35.37, 132.75),
 (28.87, 75.92),
 (24.18, 117.61),
 (-34.5, 137.49),
 (34.45, 40.92),
 (39.62, -77.74),
 (55.83, 56.91),
 (-38.55, -58.74),
 (41.89, 12.48),
 (31.86, 10.98),
 (63.84, -22.43),
 (57.8, 158.67),
 (45.12, 124.86),
 (37.35, -108.58),
 (58.3, -134.42),
 (-22.12, 14.28),
 (32.41, -87.02),
 (34.32, 47.07),
 (-36.08, 146.92),
 (50.81, 37.2),
 (64.17, -51.74),
 (36.95, 36.2),
 (43.31, -73.64),
 (-19.16, 46.8),
 (20.68, 76.21),
 (39.28, 141.86),
 (52.93, 54.74),
 (46.42, 3.91),
 (22.82, 115.83),
 (-29.12, 26.22),
 (35.01, 37.05),
 (43.11, 144.15),
 (51.18, 32.81),
 (-35.71, 150.18),
 (44.99, 124.06),
 (25.52, 85.32),
 (41.28, -70.1),
 (61.99, -49.67),
 (41.71, -86.9),
 (46.68, 113.28),
 (36.27, 2.77),
 (46.32, 132.2),
 (48.1, 20.79),
 (27.21, 60.69),
 (42.73, 133.08),
 (38.61, -95.68),
 (60.72, -46.03),
 (29.98, 118.17),
 (68.71, -52.87),
 (49.49, 105.92)]

In [105]:
# Add coordiante tuple to existing DF
vacation_cities_data_df["Coordinate Tuple"]= coord_tuple
vacation_cities_data_df.head()

,Weather_Challenge_p2,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name,Coordinate Tuple
0,2,Jamestown,AU,65.59,clear sky,-33.21,138.60,Jamestown Motel Terraces,"(-33.21, 138.6)"
1,4,Zhezkazgan,KZ,41.77,overcast clouds,47.80,67.71,Kvartiry Posutochno.,"(47.8, 67.71)"
2,5,New Norfolk,AU,63.00,few clouds,-42.78,147.06,The Shingles Riverside Cottages,"(-42.78, 147.06)"
3,6,Port Lincoln,AU,61.72,clear sky,-34.72,135.86,Port Lincoln Hotel,"(-34.72, 135.86)"
4,10,Bredasdorp,ZA,64.00,overcast clouds,-34.53,20.04,Bredasdorp Country Manor,"(-34.53, 20.04)"

In [106]:
# Create a filtered DF for the travel itinerary (lat & lng filter)

travel_itinerary_df = vacation_cities_data_df.loc[(vacation_cities_data_df["Lat"] > 48.8) & \
                                                 (vacation_cities_data_df["Lat"] < 51.0) & \
                                                  (vacation_cities_data_df["Lng"] > 0) &
                                                 (vacation_cities_data_df["Lng"] < 16)]


travel_itinerary_df

,Weather_Challenge_p2,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name,Coordinate Tuple
38,88,Quievrain,BE,39.20,clear sky,50.41,3.68,Logis Auberge le XIX ème,"(50.41, 3.68)"
59,132,Paris,FR,44.01,light rain,48.86,2.35,Citadines Les Halles Paris (Apart Hotel Paris),"(48.86, 2.35)"
119,276,Saint-Pierre,FR,39.99,broken clouds,48.95,4.24,Auberge des Moissons,"(48.95, 4.24)"
159,356,Aue,DE,36.00,few clouds,50.59,12.70,Hotel Blauer Engel,"(50.59, 12.7)"

In [107]:
# reset travel_itin DF index to ease pulling tuple info
travel_itinerary_df = travel_itinerary_df.reset_index(drop=True)
travel_itinerary_df

,Weather_Challenge_p2,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name,Coordinate Tuple
0,88,Quievrain,BE,39.20,clear sky,50.41,3.68,Logis Auberge le XIX ème,"(50.41, 3.68)"
1,132,Paris,FR,44.01,light rain,48.86,2.35,Citadines Les Halles Paris (Apart Hotel Paris),"(48.86, 2.35)"
2,276,Saint-Pierre,FR,39.99,broken clouds,48.95,4.24,Auberge des Moissons,"(48.95, 4.24)"
3,356,Aue,DE,36.00,few clouds,50.59,12.70,Hotel Blauer Engel,"(50.59, 12.7)"

In [108]:
# Assign travel stops by pulling tuple info from DF

start_loca = travel_itinerary_df.loc[0, "Coordinate Tuple"]
first_stop = travel_itinerary_df.loc[1, "Coordinate Tuple"]
second_stop = travel_itinerary_df.loc[2, "Coordinate Tuple"]
final_stop = travel_itinerary_df.loc[3, "Coordinate Tuple"]

In [109]:
# Add pop-up marker to map

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row)for index, row in travel_itinerary_df.iterrows()]

In [110]:
# Add a pop-up marker for each city
travel_stops = travel_itinerary_df[["Lat", "Lng"]]

marker_layer = gmaps.marker_layer(travel_stops, info_box_content=hotel_info)

In [111]:
# Use Latitude-longitude pairs as travel points & waypoints, add marker layer

waypoints = [first_stop, second_stop]

fig = gmaps.figure()
travel_stops = gmaps.directions_layer(start_loca, final_stop, waypoints = waypoints,travel_mode='DRIVING')
# Add layers
fig.add_layer(travel_stops)


fig

Figure(layout=FigureLayout(height='420px'))

In [116]:
# Take a screenshot of the route and save it as WeatherPy_travel_map.png.

plt.savefig("weather_data/M6_images/WeatherPy_travel_map.png")

In [113]:
# Use Latitude-longitude pairs as travel points & waypoints, add marker layer

waypoints = [first_stop, second_stop]

fig = gmaps.figure()
travel_stops = gmaps.directions_layer(start_loca, final_stop, waypoints = waypoints,travel_mode='DRIVING')

# Add layers

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [114]:
# Take a screenshot of the marker layer map for the route and save it as WeatherPy_travel_map_markers.png.

plt.savefig("weather_data/M6_images/WeatherPy_travel_map_markers.png")

# TBD - see about "bundling layers" for travel and market

In [115]:
# Use Latitude-longitude pairs as travel points & waypoints, add marker layer

waypoints = [first_stop, second_stop]

fig = gmaps.figure()
travel_stops = gmaps.directions_layer(start_loca, final_stop, waypoints = waypoints,travel_mode='DRIVING')
# Add layers
fig.add_layer(travel_stops)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))